.deps
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.h
config.log
config.nice
config.status
config.guess
config.h.in
config.sub
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
Makefile
Makefile.*
libtool
*~
modules/
.libs/
*.la
*.lo
tests/**/*.*
!tests/**/*.phpt
php_test_results_*.txt
http_message.loT
*.loT
configure.ac
cmake-build-*
vendor
composer.lock
